{%extends "centdashpage.html" %} 
{%block content%} 
    <h1>Budgets</h1>
    <div class="container">
        <div id="income-section">
          <h2>Income</h2>
          <div id="income-streams">
            <div class="income-field">
              <input type="text" placeholder="Enter Stream of Income">
              <input type="number" placeholder="Amount">
            </div>
          </div>
          <button onclick="addIncome()">Add Income</button>
        </div>
        <div id="expenses-section">
          <h2>Expenses</h2>
          <div id="expense-fields">
            <div class="expense-category">
              <input type="text" placeholder="Enter expense">
              <input type="number" placeholder="Amount">
            </div>
          </div>
          <button onclick="addExpense()">Add Expense</button>
        </div>
        <button onclick="calculateBudget()">Calculate</button>
        <div id="income"></div>
        <div id="expenses"></div>
        <div id="total"></div>
      </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
        crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
    </body>
</html>
{% endblock %}
