{% extends "centdashpage.html" %} 

{% block content %} 
<div class="container">
    <h1>CentDash Hub</h1>
    <div id="centdash-hub-section">
        {% for article in personal_finance_news %}
            <div class="article">
                {% if article.thumbnail %}
                    <img src="{{ article.thumbnail }}" alt="{{ article.title }}" class="img-thumbnail">
                {% endif %}
                <h2>{{ article.title }}</h2>
                <p><a href="{{ article.link }}" target="_blank">{{ article.link }}</a></p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}