<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='signup.css')}}">
</head>
<body>
    <div class="box">
        <form method="post" action="{{ url_for('signup') }}">
            <a href="#"><img src="{{url_for('static', filename='CentDash.png')}}"  class="logo" width="200" height="65"></a>
            <h1></h1>
            <div class="input">
                <input type="text" class="firstname" name="FirstName" placeholder="First Name"><br>
            </div>
            <div class="input">
                <input type="text" class="lastname" name="LastName" placeholder="Last Name"><br>
            </div>
            <div class="input">
                <input type="email" class="signin"  name="Email" placeholder="Email"><br>
            </div>
            <div class="input">
                <input type="password" class="enterpassword" name="Password" placeholder="Password"><br>
            </div>
            <div class="input">
                <input type="password" class="confirmpassword" name="ConfirmPassword" placeholder="Confirm Password"><br>
            </div>
            <input type="submit" value="Sign Up">
            <p>Already have an account?<a href="login"> Sign in</a></p>
        </form>
        <p>{{ errorMsg }}</p>
    </div>
    <script>
        function showError(errorMsg) {
            var errorElement = document.createElement('p');
            errorElement.textContent = errorMsg;
            errorElement.style.color = 'red';
            document.body.appendChild(errorElement);
        }

        function validateUserSignUp() {
            var firstName = document.getElementsByName("FirstName")[0].value;
            var lastName = document.getElementsByName("LastName")[0].value;
            var email = document.getElementsByName("Email")[0].value;
            var password = document.getElementsByName("Password")[0].value;
            var confirmPassword = document.getElementsByName("ConfirmPassword")[0].value;

            if (firstName.trim() === '') {
                showError("Please enter your First Name.");
                return false; // Prevent form submission
            }

            if (lastName.trim() === '') {
                showError("Please enter your Last Name.");
                return false;
            }

            if (email.trim() === '') {
                showError("Please enter your Email.");
                return false;
            }

            if (password.trim() === '') {
                showError("Please enter your Password.");
                return false; 
            }

            if (confirmPassword.trim() === '') {
                showError("Please confirm your Password.");
                return false; 
            }

            if (password !== confirmPassword) {
                showError("Passwords do not match.");
                return false; 
            }

            if (email.length < 5 || email.length > 100 || !email.includes('@') || !email.includes('.')) {
                showError("Please enter a valid email.");
                return false; 
            }

            return true;
        }
    </script>
</body>
</html>
