{%extends "centdashpage.html" %} 
{%block content%}
<div class="container">
        <h1>Statements</h1>
        <div id="budgets-summary-section"></div>
        <h3>Budgets Summary</h3>
        <p>Income<p>
        <div id="income"></div>
        <hr>
        <div id="total-income" class="income-total"></div>
        <hr>
        <br>
        <p>Expenses</p>
        <div id="expenses"></div>
        <hr>
        <div id="total-expenses" class="expense-total"></div>
        <hr>
        <br>
        <p>Net Income</p>
        <hr>
        <div id="net-income" class="net-income-total"></div>
        <hr>
        <br>
        <h3>Net Worth Summary</h3>
        <div id="net-worth-summary-section"></div>
        <p>Assets</p>
        <div id="assetData"></div>
        <hr>
        <div id="total-assets" class="asset-total"></div>
        <hr>
        <br>
        <p>Liabilities</p>
        <div id="liabilitiesData"></div>
        <hr>
        <div id="total-liabilities" class="liabilities-total"></div>
        <hr>
        <br>
        <p>Net Worth</p>
        <hr>
        <div id="net-worth-data" class="net-worth-total"></div>
        <hr>
    </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
        crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
    </body>
</html>
{% endblock %}